/* Add-ons */
@import url("https://gibbu.github.io/BetterDiscord-Themes/RadialStatus/base.css");
@import url('https://gibbu.github.io/BetterDiscord-Themes/HorizontalServerlist/base.css');

:root {
	--background-secondary: #000b1b !important; 
	--background-primary: #000b1b !important; 
    --background-tertiary: #000b1b !important;
	--text-area: #00172f;
	--server-folders: #000b1b;
	--yellow:#fbc932;
	--Green: #00713d;

	/*Radial Status*/
	--rs-small-spacing: 2px;  /* spacing between avatar and status */
	--rs-large-spacing: 3px;  /* spacing between avatar and status for user popouts & modals/profiles */
	--rs-width: 2px;  /* Width/thickness of status border */
	--rs-avatar-shape: 10%;  /* 50% for round - 0% for square */
	--rs-online-color: #43b581;  /* color for online status */
	--rs-idle-color: #faa61a;  /* color for idle status */
	--rs-dnd-color: #f04747;  /* color for dnd status */
	--rs-offline-color: #636b75;  /* color for offline status */
	--rs-streaming-color: #643da7;  /* color for streaming status */
	--rs-invisible-color: #747f8d;  /* color for invisible status - Note this will only show for your own invisibility */
	
	
	/*Horizontal Serverlist*/
	--server-size: var(--HSL-server-icon-size, var(--HSL-size, 60px));
	--server-spacing: var(--HSL-server-spacing, var(--HSL-spacing, 10px));
	--server-container: calc(var(--server-size) + 20px);
	--user-popout:#000b1b;
	--user-popout-body:#000b1b;
		

	/* STATUS COLORS */
	--online-color: #43b581; /* online status color (hex, rgb or hsl) [default: #43b581] */
	--idle-color: #faa61a; /* idle status color (hex, rgb or hsl) [default: #faa61a] */
	--dnd-color: #982929; /* dnd status color (hex, rgb or hsl) [default: #982929] */
	--streaming-color: #593695; /* streaming status color (hex, rgb or hsl) [default: #593695] */
	--offline-color: #808080; /* offline/invisible status color (hex, rgb or hsl) [default: #808080] */

	
}
/* User Box */
.panels-j1Uci_ {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    background-color: var(--background-tertiary);
}

/*Message Box*/
.scrollableContainer-2NUZem {
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: var(--text-area);
    max-height: 50vh;
    border-radius: 8px;
    border-radius: 20px;
    scrollbar-width: none;
}

/*Account Box*/
.fieldList-21DyL8 {
    border-radius: 8px;
    background-color: var(--text-area);
    padding: 16px;
    margin-top: 16px;
}

/*Call dock*/
.wrapper-3EGhDO {
    background-color: var(--background-secondary);
    border-radius: 25px;
    padding: 0px;
}
.colorable-1bkp8v.white-3GPOIp, .colorable-1bkp8v.white-3GPOIp .centerIcon-2G6o-T {
    color: currentColor;
}
.colorable-1bkp8v.primary-3NQg8g,
.colorable-1bkp8v.primary-3NQg8g.active-1QRrIS, .colorable-1bkp8v.primary-3NQg8g:hover, 
.colorable-1bkp8v.white-3GPOIp,
.centerButton-3CaNcJ,
.colorable-1bkp8v.white-3GPOIp.active-1QRrIS, .colorable-1bkp8v.white-3GPOIp:hover,
.colorable-1bkp8v.red-33-Lnk {
    background: none !important;
}
/*Continus pattern on PC popout from Nocturnal GET CREATOR ID*/
.headerPlaying-j0WQBV{
	background-image: url(https://cdn.discordapp.com/attachments/429284670228660224/755769080472010872/game.svg), linear-gradient(to bottom, rgb(90,162,242, .8), rgb(69,86,252, .6));
	background-color: rgba(0,0,0) !important;
 }
.headerPlaying-j0WQBV ~ .body-3iLsc4{
    background-image: url(https://cdn.discordapp.com/attachments/429284670228660224/755769080472010872/game.svg), linear-gradient(to bottom, rgb(69,86,252, .6), rgb(69,86,252, .6));
	background-color: rgba(0,0,0) !important;
}
.headerPlaying-j0WQBV ~ .footer-1fjuF6 {
	background-image: url(https://cdn.discordapp.com/attachments/429284670228660224/755769080472010872/game.svg), linear-gradient(to bottom, rgb(69,86,252, .6), rgb(69,86,252, .55));
	background-color: rgba(0,0,0) !important;
} 
/*Continus pattern on PC popout from Nocturnal GET CREATOR ID*/

/*Continus pattern on xbox popout*/
.headerXbox-3G-4PF {
	background: url(https://cdn.discordapp.com/attachments/429284670228660224/755769080472010872/game.svg), linear-gradient(to bottom, rgba(15,123,14, 1), rgba(9,78,8,0.8)) !important;
	background-color: rgba(0,0,0,1) !important;
    padding: 16px;
}
.headerXbox-3G-4PF ~ .body-3iLsc4{
    background: url(https://cdn.discordapp.com/attachments/429284670228660224/755769080472010872/game.svg), linear-gradient(to bottom, rgba(9,78,8,0.8), rgba(9,78,8, .8)) !important;
	background-color: rgba(0,0,0,1) !important;
    padding: 20px;
}
.headerXbox-3G-4PF ~ .footer-1fjuF6 {
	background: url(https://cdn.discordapp.com/attachments/429284670228660224/755769080472010872/game.svg), linear-gradient(to bottom, rgba(9,78,8, .8), rgba(9,78,8, .8)) !important;
	background-color: rgba(0,0,0,1) !important;
    padding: 20px;
} 
/*Continus pattern on xbox popout*/


.activity-11LB_k {
	background-color: rgba(0,0,0,0);
    padding: 16px;
}



.headerSpotify-zpWxgT {
    background: url(https://cdn.discordapp.com/attachments/429284670228660224/755769080472010872/game.svg), linear-gradient(to top right, rgb(30,215,96), rgb(19,137,60)) !important;
	
}

.powercord-spotify .spotify-seek-bar-progress {
  background-color: #1ed860 !important; /* Change the color here */
}

.panels-j1Uci_ > .powercord-spotify .spotify-seek-bar {
        position: absolute;
        bottom: 53px;
        width: 240px;
        height: 55px;
        -webkit-mask-image: linear-gradient(0.25turn, #0009, #0003);
}

.powercord-spotify.hover .spotify-seek-bar { height: 63px; }
.powercord-spotify > .container-3baos1 > .avatarWrapper-2yR4wp, 
.powercord-spotify > .container-3baos1 > .nameTag-3uD-yy, .spotify-buttons, 
.spotify-seek-duration { z-index: 1; }

.powercord-spotify .flex-1xMQg5{ display: none;}